<template>
  <div class="input-line cell shrink grid-x grid-padding-x align-middle">
    <div class="cell small-2">
      <label :for="name">
        {{ labelText }}
      </label>
    </div>
    <div class="cell auto">
      <input type="text"
             :id="name"
             :value="modelValue"
             @input="$emit('update:modelValue', $event.target.value)"
      >
    </div>
  </div>
</template>

<script>
import {capitalize} from "vue";

export default {
  name: "InputLine",
  props: {
    modelValue: String,
    name: String,
  },
  computed: {
    labelText() {
      return capitalize(this.name);
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

.input-line {
  input, select, textarea, button {
    width: 100%;
    margin-bottom: 0;
  }
}

</style>