<template>
  <div class="menu-line cell shrink grid-x grid-padding-x align-middle">
    <div class="cell small-1">
      {{ index }}
    </div>
    <div class="cell auto">
      <input type="text"
             :value="name"
             @input="$emit('update:name', $event.target.value)"
      >
    </div>
    <div class="cell auto">
      <select :id="name"
              :value="pageId"
              @input="$emit('update:pageId', $event.target.value)"
      >
        <template v-for="page in pages">
          <option :value="page.id">
            {{ page.name }}
          </option>
        </template>
      </select>
    </div>
    <div class="cell small-2">
      <button class="button alert"
              @click="$emit('removeItem')"
      >
        Delete
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "MenuLine",
  components: {},
  props: {
    name: String,
    pageId: Number,
    index: Number,
  },
  computed: {
    pages() {
      return this.$store.getters.getPages;
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

.menu-line {
  input, select, textarea, button {
    width: 100%;
    margin: 0;
  }
}

</style>