<template>
  <div class="select-block cell shrink grid-x grid-padding-x align-middle">
    <div class="cell small-2">
      <label :for="name">
        {{ labelText }}
      </label>
    </div>
    <div class="cell auto">
      <select :id="name"
              :value="modelValue"
              @input="$emit('update:modelValue', parseInt($event.target.value))"
      >
        <option value="null"
                v-if="nullable"
        >
        </option>
        <template v-for="option in options">
          <option :value="option.id">
            {{ option.name }}
          </option>
        </template>
      </select>
    </div>
  </div>
</template>

<script>
import {capitalize} from "vue";

export default {
  name: "SelectBlock",
  props: {
    modelValue: Number,
    name: String,
    options: Array,
    nullable: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    labelText() {
      return capitalize(this.name);
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

.select-block {
  input, select, textarea, button {
    width: 100%;
    margin-bottom: 0;
  }
}

</style>