<template>
  <div class="slot-line cell shrink grid-x grid-padding-x align-middle">
    <div class="cell small-1">
      {{ index }}
    </div>
    <div class="cell auto">
      <input type="text"
             :value="modelValue"
             @input="$emit('update:modelValue', $event.target.value)"
      >
    </div>
    <div class="cell small-2">
      <button class="button alert"
              v-if="index !== 1"
              @click="$emit('removeSlot')"
      >
        Delete
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "SlotLine",
  components: {},
  props: {
    modelValue: String,
    index: Number,
  },
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

.slot-line {
  input, button {
    width: 100%;
    margin-bottom: 0;
  }

}

</style>