<template>
  <div class="textarea-block cell shrink grid-x grid-padding-x align-middle">
    <div class="cell small-2">
      <label :for="name">
        {{ labelText }}
      </label>
    </div>
    <div class="cell auto">
      <CodeEditor :id="name"
                  v-bind="editorOptions"
                  :value="modelValue"
                  @change="$emit('update:modelValue', $event.target.value)"
      />
    </div>
  </div>
</template>

<script>
import {capitalize} from "vue";
import hljs from "highlight.js";
import CodeEditor from 'simple-code-editor';

export default {
  name: "TextareaBlock",
  components: {
    CodeEditor
  },
  props: {
    modelValue: String,
    name: String,
  },
  data() {
    return {
      editorOptions: {
        hide_header: true,

        theme: 'light',
        width: '100%',
        min_height: '20rem',
        max_height: '40rem',
        border_radius: '3px',
        font_size: "14px",
      }
    }
  },
  computed: {
    labelText() {
      return capitalize(this.name);
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

.textarea-block {
  input, select, button {
    width: 100%;
    margin-bottom: 0;
  }
}

</style>