<script setup>
import AdminIndex from '@/components/admin/Index.vue';
</script>

<template>
  <div id="Admin">
    <admin-index />
  </div>
</template>

<script>

export default {
  name: "Admin",
  components: {},
  data() {
    return {}
  },
}
</script>

<style scoped lang="scss">

#Admin {
  width: 100%;
  height: 100%;
  padding: 1% 0;
}

</style>