<template>
  <div id="empty"
       class="cell auto grid-x align-middle"
  >
    <div class="cell auto">
      empty list
    </div>
  </div>
</template>

<script>
export default {
  name: "empty",
  components: {},
  data() {
    return {}
  },
}
</script>

<style scoped lang="scss">

#empty {
  text-align: center;
}

</style>