<template>
  <img :src="url" :alt="alt">
</template>

<script>
export default {
  name: "Image",
  props: {
    src: String,
    alt: String,
  },
  data() {
    return {
      baseUrl: location.hostname,
      protocol: location.protocol,
      port: '8000',
    }
  },
  computed: {
    url() {
      return `${this.protocol}//${this.baseUrl}:${this.port}/storage/${this.src}`;
    }
  }
}
</script>
