<template>
  <div id="TopLine" class="grid-x grid-padding-x align-middle">
    <div class="cell shrink">
      filter
    </div>
    <div class="cell auto">
      <input type="text"
             name="filter"
             v-model="filter"
      >
    </div>
    <div class="cell small-3">
      <router-link class="button"
                   :to="{name: ButtonName}"
      >
        {{ ButtonName }}
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopLine",
  components: {},
  props: {
    filter: String,
  },
  computed: {
    name() {
      return this.$route.meta.name;
    },
    ButtonName() {
      return `new${this.name}`;
    },
  },
}
</script>

<style scoped lang="scss">
@import "@/assets/css/global";

#TopLine {
  margin: 1rem 0;

  .button, input {
    width: 100%;
    margin-bottom: 0;
  }
}

</style>