<template>
  <div id="Auth"
    class="grid-x"
  >

    <div class=" cell auto grid-y grid-padding-y">
      <div class="cell shrink">
        Authentication
      </div>
      <div class="cell auto">
        <label for="email">
          Email
        </label>
        <input type="text"
               id="email"
               v-model="email"
               @keydown.enter="authorize()"
        >
        <label for="password">
          Password
        </label>
        <input type="password"
               id="password"
               v-model="password"
               @keydown.enter="authorize()"
        >

      </div>
      <div class="cell shrink">
        <button class="button"
                @click="authorize()"
        >
          Authorize
        </button>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "Auth",
  components: {},
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    authorize() {
      let data = {
        "email": this.email,
        "password": this.password,
      };
      this.$store.dispatch('login', data)
        .then(r => {
          this.$router.push({
            name: 'layouts',
            replace: true,
          })
        })
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

#Auth {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid 1px $medium-gray;
  border-radius: $global-radius;
  text-align: center;

  button {
    margin: 0;
  }

}

</style>