<div id="footer"
     class="grid-x"
>
    <div class="cell auto">
        <address>
            <p class="nobr">© ОАО «Тереховский завод бетонных изделий»</p>
            <p>Владивосток, ул. Мордовцева, 6, тел. +7 (423) 230–12–18, 230–12–19<br />
                <a href="mailto:terehovka@mail.ru">terehovka@mail.ru</a>
            </p>
        </address>
    </div>
    <div class="cell small-2">
        <script type="text/javascript">
            const uri = encodeURI(document.referrer)+((typeof(screen)=="undefined")?"": ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth? screen.colorDepth:screen.pixelDepth))+";u"+encodeURI(document.URL)+ ";"+Math.random();
            document.write(`
                <a href='http://www.liveinternet.ru/click'
                    target=_blank
                >
                    <img src='http://counter.yadro.ru/hit?t14.11;r${uri}'
                        alt=''
                        title='LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня'
                        width='88'
                        height='31'
                    >
                </a>
                `
            );
        </script>
    </div>
</div>