<template>
  <div class="modal-outer"
       v-if="showModal"
       @click.self="closeModal"
  >
    <div class="modal-content">
      <router-view @closeModal="closeModal"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "modal",
  components: {},
  data() {
    return {}
  },
  computed: {
    showModal() {
      return this.$route.meta.showModal || false;
    }
  },
  methods: {
    closeModal() {
      this.$router.go(-1);
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/global";

.modal-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($black, 0.5);

  .modal-content {
    width: 70%;
    max-height: 90%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: $global-radius;
    overflow-y: scroll;
  }
}
</style>