<template>
  <div v-html="content" />
</template>

<script>
export default {
  name: "Chunk",
  props: {
    name: String,
  },
  computed: {
    chunk() {
      return this.$store.getters.getCommonChunk(this.name);
    },
    content() {
      if(this.chunk) {
        return this.chunk.content;
      }
      return '';
    }
  },
  beforeMount() {
    this.$store.dispatch('getCommonChunk', this.name);
  }
}
</script>

<style lang="scss">
@import "@/assets/css/styles";

</style>