<template>
  <div :id="name" class="menu">
    <template v-for="item in items">
      <router-link :to="item.page.uri"
          class="menu-item">
        {{ item.name }}
      </router-link>
    </template>
  </div>
</template>

<script>
export default {
  name: "commonMenu",
  props: {
    name: String,
  },
  computed: {
    menu() {
      return this.$store.getters.getCommonMenu(this.name);
    },
    items() {
      if(this.menu) {
        return this.menu.menu_items;
      }
      return [];
    }
  },
  beforeMount() {
    this.$store.dispatch('getCommonMenu', this.name);
  }
}
</script>

<style lang="scss">
@import "@/assets/css/styles";

</style>