<template>
  <common-layout v-if="layoutSet">
    <common-page v-if="pageSet">

    </common-page>
  </common-layout>
</template>

<script>
import {defineCustomElement} from '@/lib/defineCustomElement';
import Chunk from "./Chunk.vue";
import Menu from "./Menu.vue";
import Image from "../shared/Image.vue";
import mainCss from '@/assets/css/styles.scss';

export default {
  name: "commonPage",
  data() {
    return {
      layoutSet: false,
      pageSet: false,
    };
  },
  computed: {
    pageParams() {
      let path = this.$route.params.pageUri;
      if(path.length) {
        return {uri: path.join('/')};
      }
      return {uri: '/'};
    },
    layout() {
      return this.$store.getters.getCommonLayout;
    },
    page() {
      return this.$store.getters.getCommonPage;
    },
    pageContent() {
      let template = '';
      this.page.slots.forEach(slot => {
        template += `<div slot="${slot.slot_name.name}">${slot.content}</div>`;
      })
      return template;
    },
  },
  methods: {
    getLayout(id) {
      this.$store.dispatch('getCommonLayout', id);
    },
    getPage() {
      this.$store.dispatch('getCommonPage', {
        template: this.pageParams,
      }).then(r => {
        this.getLayout(r.data.layout_id);
      })
    },
    makeLayout() {
      if(this.layout) {
        const CommonLayout = defineCustomElement({
          name: 'common-layout',
          template: this.layout.content,
          styles: [mainCss],
        }, {
          components:  [
            {
              name: 'common-chunk',
              component: Chunk,
            },
            {
              name: 'common-menu',
              component: Menu,
            },
            {
              name: 'shared-image',
              component: Image,
            },
          ],
          plugins: [this.$store, this.$router],
        });
        customElements.define('common-layout', CommonLayout);
        this.layoutSet = true;
      }
    },
    makePage() {
      if(this.page) {
        const CommonPage = defineCustomElement({
          name: 'common-page',
          template: this.pageContent,
          styles: [mainCss],
        }, {
          components:  [
            {
              name: 'common-chunk',
              component: Chunk,
            },
            {
              name: 'common-menu',
              component: Menu,
            },
            {
              name: 'shared-image',
              component: Image,
            },
          ],
          plugins: [this.$store, this.$router],
        });
        customElements.define('common-page', CommonPage);
        this.pageSet = true;
      }
    },
  },
  watch: {
    'page': 'makePage',
    'layout': 'makeLayout',
  },
  beforeMount() {
    this.getPage();
  }
}
</script>

<style lang="scss">
@import "@/assets/css/styles";

</style>