<template>
  <div id="Chunk"
       class="grid-y grid-padding-y"
  >
    <input-line v-model="name"
                name="name"
    />

    <textarea-block v-model="content"
                    name="content"
    />

    <div class="cell shrink grid-x grid-padding-x">
      <div class="cell auto"></div>
      <div class="cell small-2">
        <button class="button alert"
                @click="$emit('closeModal')"
        >
          Cancel
        </button>
      </div>
      <div class="cell small-2">
        <button class="button"
                @click="saveChunk"
        >
          Save
        </button>
      </div>
    </div>

  </div>
</template>

<script>
import InputLine from "../inputs/InputLine.vue";
import TextareaBlock from "../inputs/TextareaBlock.vue";

export default {
  name: "Chunk",
  components: {
    InputLine,
    TextareaBlock,
  },
  data() {
    return {
      name: '',
      content: '',
    }
  },
  computed: {
    chunkId() {
      return this.$route.params.chunkId;
    },
  },
  methods: {
    setData(data) {
      this.name = data.name;
      this.content = data.content;
    },
    prepareData() {
      let data = {
        name: this.name,
        content: this.content,
      };
      if(this.chunkId) {
        data.id = this.chunkId;
      }
      return data;
    },
    saveChunk() {
      let action = 'createChunk';
      if(this.chunkId) {
        action = 'editChunk';
      }
      this.$store.dispatch(action, this.prepareData())
          .then(r => {
            this.$router.push({
              name: 'chunks',
            });
          });
    }
  },
  beforeMount() {
    if(this.chunkId) {
      this.$store.dispatch('getChunk', this.chunkId)
          .then(r => {
            this.setData(r.data);
          });
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

#Chunk {
  text-align: center;

  input, button {
    margin-bottom: 0;
  }

  .button {
    width: 100%;
  }
}

</style>