<template>
  <div id="Layout"
       class="grid-y grid-padding-y"
  >
    <input-line v-model="name"
                name="name"
    />

    <div class="cell shrink grid-x grid-padding-x headers align-middle">
      <div class="cell small-1">
        Index
      </div>
      <div class="cell auto">
        Slot name
      </div>
      <div class="cell small-2">
        Actions
      </div>
    </div>

    <template v-for="(slot, index) in slotNames">
      <slot-line v-model="slotNames[index].name"
                 :index="index + 1"
                 @removeSlot="removeSlot(index)"
      />
    </template>

    <div class="cell shrink grid-x grid-padding-x">
      <div class="cell auto"></div>
      <div class="cell small-2">
        <button class="button"
                @click="addSlot"
        >
          AddSlot
        </button>
      </div>
    </div>

    <textarea-block v-model="content"
                    name="content"
    />

    <div class="cell shrink grid-x grid-padding-x">
      <div class="cell auto"></div>
      <div class="cell small-2">
        <button class="button alert"
                @click="$emit('closeModal')"
        >
          Cancel
        </button>
      </div>
      <div class="cell small-2">
        <button class="button"
                @click="saveLayout"
        >
          Save
        </button>
      </div>
    </div>

  </div>
</template>

<script>
import InputLine from "../inputs/InputLine.vue";
import SlotLine from "../inputs/SlotLine.vue";
import TextareaBlock from "../inputs/TextareaBlock.vue";

export default {
  name: "Layout",
  components: {
    InputLine,
    SlotLine,
    TextareaBlock,
  },
  data() {
    return {
      name: '',
      slotNames: [
        {name: 'default'},
      ],
      removedSlots: [],
      content: '',
    }
  },
  computed: {
    layoutId() {
      return this.$route.params.layoutId;
    }
  },
  methods: {
    addSlot() {
      this.slotNames.push({name: ''});
    },
    removeSlot(index) {
      let del = this.slotNames.splice(index, 1)[0];
      this.removedSlots.push(del);
    },
    setData(data) {
      this.name = data.name;
      this.slotNames = data.slot_names;
      this.content = data.content;
    },
    prepareData() {
      const data = {
        name: this.name,
        slot_names: this.slotNames,
        content: this.content,
        removed_slots: this.removedSlots,
      };
      if(this.layoutId) {
        data.id = this.layoutId;
      }
      return data;
    },
    saveLayout() {
      let action = 'createLayout';
      if(this.layoutId) {
        action = 'editLayout';
      }
      this.$store.dispatch(action, this.prepareData())
          .then(r => {
            this.$router.push({
              name: 'layouts',
            });
          });
    }
  },
  beforeMount() {
    this.$store.dispatch('getLayouts');
    if(this.layoutId) {
      this.$store.dispatch('getLayout', this.layoutId)
          .then(r => {
            this.setData(r.data);
          });
    }
  },
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

#Layout {
  text-align: center;

  input, button {
    margin-bottom: 0;
  }

  .button {
    width: 100%;
  }
}

</style>