<template>
  <div id="Menu"
       class="grid-y grid-padding-y"
  >
    <input-line v-model="name"
                name="name"
    />

    <div class="cell shrink grid-x grid-padding-x align-middle">
      <div class="cell small-1">
        Index
      </div>
      <div class="cell auto">
        Name
      </div>
      <div class="cell auto">
        Page
      </div>
      <div class="cell small-2">
        Actions
      </div>
    </div>

    <template v-for="(menu, index) in menuItems">
      <menu-line v-model:name="menuItems[index].name"
                 v-model:pageId="menuItems[index].page_id"
                 :index="index + 1"
                 @removeItem="removeMenuItem(index)"
      />
    </template>

    <div class="cell shrink grid-x grid-padding-x">
      <div class="cell auto"></div>
      <div class="cell small-2">
        <button class="button"
                @click="addMenuItem"
        >
          addMenuItem
        </button>
      </div>
    </div>

    <div class="cell shrink grid-x grid-padding-x">
      <div class="cell auto"></div>
      <div class="cell small-2">
        <button class="button alert"
                @click="$emit('closeModal')"
        >
          Cancel
        </button>
      </div>
      <div class="cell small-2">
        <button class="button"
                @click="saveMenu"
        >
          Save
        </button>
      </div>
    </div>

  </div>
</template>

<script>
import InputLine from "../inputs/InputLine.vue";
import MenuLine from "../inputs/MenuLine.vue";

export default {
  name: "Menu",
  components: {
    InputLine,
    MenuLine,
  },
  data() {
    return {
      name: '',
      menuItems: [],
      removedItems: [],
    }
  },
  computed: {
    menuId() {
      return this.$route.params.menuId;
    },
  },
  methods: {
    addMenuItem() {
      this.menuItems.push({
        name: '',
        page_id: null,
      });
    },
    removeMenuItem(index) {
      let del = this.menuItems.splice(index, 1)[0];
      this.removedItems.push(del);
    },
    setData(data) {
      this.name = data.name;
      this.menuItems = data.menu_items;
    },
    prepareData() {
      const data = {
        name: this.name,
        menu_items: this.menuItems,
        removed_items: this.removedItems,
      };
      if(this.menuId) {
        data.id = this.menuId;
      }
      return data;
    },
    saveMenu() {
      let action = 'createMenu';
      if(this.menuId) {
        action = 'editMenu';
      }
      this.$store.dispatch(action, this.prepareData())
          .then(r => {
            this.$router.push({
              name: 'menus',
            });
          });
    },
  },
  beforeMount() {
    this.$store.dispatch('getPages');
    if(this.menuId) {
      this.$store.dispatch('getMenu', this.menuId)
          .then(r => {
            this.setData(r.data);
          });
    }
  },
  mounted() {
    if(!this.menuId) {
      this.addMenuItem();
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

#Menu {
  text-align: center;

  input, button {
    width: 100%;
    margin: 0;
  }
}

</style>