<template>
  <div id="Page"
       class="grid-y grid-padding-y"
  >
    <input-line v-model="name"
                name="name"
    />

    <input-line v-model="uri"
                name="uri"
    />

    <select-block v-model="parentId"
                  name="parentPage"
                  :options="pages"
                  :nullable="true"
    />

    <select-block v-model="layoutId"
                  name="layout"
                  :options="layouts"
    />

    <template v-for="(slot, index) in slots">
      <textarea-block v-model="slots[index].content"
                      :name="slots[index].slot_name.name"
      />
    </template>

    <div class="cell shrink grid-x grid-padding-x">
      <div class="cell auto"></div>
      <div class="cell small-2">
        <button class="button alert"
                @click="$emit('closeModal')"
        >
          Cancel
        </button>
      </div>
      <div class="cell small-2">
        <button class="button"
                @click="savePage"
        >
          Save
        </button>
      </div>
    </div>

  </div>
</template>

<script>
import InputLine from "../inputs/InputLine.vue";
import TextareaBlock from "../inputs/TextareaBlock.vue";
import SelectBlock from "../inputs/SelectBlock.vue";

export default {
  name: "Page",
  components: {
    InputLine,
    TextareaBlock,
    SelectBlock,
  },
  data() {
    return {
      name: '',
      uri: '',
      parentId: null,
      layoutId: null,
      slots: [],
    }
  },
  computed: {
    pageId() {
      return parseInt(this.$route.params.pageId);
    },
    pages() {
      return this.$store.getters.getPages;
    },
    layouts() {
      return this.$store.getters.getLayouts;
    },
  },
  methods: {
    getLayout() {
      this.$store.dispatch('getLayout', this.layoutId)
        .then(r => {
          this.slots = r.data.slot_names.map(el => {
            return {
              content: '',
              slot_name_id: el.id,
              slot_name: el,
            }
          })
        });
    },
    setData(data) {
      this.name = data.name;
      this.uri = data.uri;
      this.parentId = parseInt(data.parent_id);
      this.layoutId = parseInt(data.layout_id);
      this.slots = data.slots;
    },
    prepareData() {
      const data = {
        name: this.name,
        uri: this.uri,
        parent_id: this.parentId,
        layout_id: this.layoutId,
        slots: this.slots,
      };
      if(this.pageId) {
        data.id = this.pageId;
      }
      return data;
    },
    savePage() {
      let action = 'createPage';
      if(this.pageId) {
        action = 'editPage';
      }
      this.$store.dispatch(action, this.prepareData())
        .then(r => {
          this.$router.push({
            name: 'pages',
          });
        });
    }
  },
  watch: {
    layoutId: function (newVal, oldVal) {
      if(oldVal !== null) {
        this.getLayout();
      }
    },
  },
  beforeMount() {
    this.$store.dispatch('getLayouts');
    if(this.pageId) {
      this.$store.dispatch('getPage', this.pageId)
      .then(r => {
        this.setData(r.data);
      });
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

#Page {
  text-align: center;

  input, button {
    margin-bottom: 0;
  }

  button {
    width: 100%;
  }
}

</style>