<template>
  <div class="file cell small-2">
    <div class="file-outer">
      <img :src="url"
           class="file"
           :alt="file">
    </div>

    <div class="name">
      {{ file }}
    </div>

    <button class="button"
            @click="deleteFile"
    >
      DeleteFile
    </button>

  </div>
</template>

<script>
export default {
  name: "File",
  components: {},
  props: {
    file: String,
  },
  computed: {
    url() {
      const baseUrl = location.hostname,
        protocol = location.protocol,
          port = '8000';
      return `${protocol}//${baseUrl}:${port}/storage/${this.file}`;
    },
  },
  methods: {
    deleteFile() {
      this.$store.dispatch('deleteFile', this.file);
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/styles";

.file {
  margin: 0.5rem 0;
  text-align: center;

  .file-outer {
    width: 100%;
    padding: 50%;
    position: relative;
    border: solid 1px $light-gray;
    border-radius: $global-radius;
    overflow: hidden;

    .file {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button {
    width: 100%;
  }
}

</style>