<template>
  <input v-bind="getInputProps()">
  <div class="cell shrink">
    <button class="button download"
            @click="open"
    >
      DownloadFile
    </button>
  </div>

  <div class="files-outer cell auto grid-x grid-padding-x"
  >
    <template v-for="file in files">
      <file :file="file"/>
    </template>
  </div>
</template>

<script>
import { useDropzone } from 'vue3-dropzone';
import File from "./File.vue";
import {useStore} from "vuex";

export default {
  name: "FilesTab",
  components: {
    File,
  },
  setup() {
    const store = useStore();

    const saveFile = (file) => {
      let form = new FormData();
      form.append('myFile', file);
      store.dispatch('createFile', form);
    }
    function onDrop(acceptFiles, rejectReasons) {
      for(let i = 0; i < acceptFiles.length; i++) {
        saveFile(acceptFiles[i]);
      }
    }

    const { getRootProps, getInputProps, ...rest } = useDropzone({ onDrop });

    return {
      getRootProps,
      getInputProps,
      ...rest,
    };
  },
  computed: {
    files() {
      return this.$store.getters.getFiles;
    }
  },
  beforeMount() {
    this.$store.dispatch('getFiles');
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/css/global.scss";

.download {
  width: 100%;
}

.files-outer {
  border: solid 1px $medium-gray;
  border-radius: $global-radius;
  overflow-y: scroll;
}

</style>