<template>
  <div id="AdminIndex"
       class="container grid-y"
  >
    <div class="tab-names cell shrink grid-x">
      <template v-for="tabName in tabNames">
        <router-link :to="{name: tabName}"
                     class="tab-name cell auto"
        >
          {{ tabName }}
        </router-link>
      </template>
    </div>
    <div class="tab cell auto grid-y">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminIndex",
  computed: {
    tabNames() {
      return this.$store.getters.getTabs;
    },
  },
}
</script>

<style scoped lang="scss">
@import "@/assets/css/global";

#AdminIndex {
  width: 100%;
  height: 100%;
  border: solid 1px $medium-gray;
  border-radius: $global-radius;
  overflow: hidden;

  .tab-name {
    padding: 0.5rem;
    background-color: $light-gray;
    color: $dark-gray;
    text-align: center;
    text-decoration: none;

    &:not(:last-child) {
      border-right: solid 1px $medium-gray;
    }

    &.active {
      background-color: $white;
      color: $black;
    }
    &:not(.active) {
      border-bottom: solid 1px $medium-gray;
    }
  }

  .tab {
    padding: 1rem;
  }

}

</style>