<template>
  <div id="tab"
       class="cell auto grid-y"
  >
    <top-line v-model="filter"
              class="cell shrink"
    />
    <div class="item-list cell auto grid-y"
    >
      <div class="grid-x table-header">
        <div class="cell small-1">
          <div class="inner">
            Index
          </div>
        </div>
        <div class="cell auto">
          <div class="inner">
            Name
          </div>
        </div>
        <div class="cell small-4">
          <div class="inner">
            Actions
          </div>
        </div>
      </div>

      <template v-if="filteredItems.length">
        <template v-for="(item, index) in filteredItems">
          <ListItem :item="item"
                    :name="name"
                    :index="index + 1"
          />
        </template>
      </template>
      <empty v-else/>
    </div>

    <modal />
  </div>
</template>

<script>
import Modal from "@/components/modal.vue";
import TopLine from "@/components/shared/TopLine.vue";
import {defineAsyncComponent} from "vue";

export default {
  name: "MenusTab",
  components: {
    Modal,
    TopLine,
    'empty': defineAsyncComponent(() => import('../shared/Empty.vue')),
    'ListItem': defineAsyncComponent(() => import('./ListItem.vue')),
  },
  data() {
    return {
      filter: '',
    }
  },
  computed: {
    name() {
      return this.$route.meta.name;
    },
    items() {
      return this.$store.getters[`get${this.name}s`];
    },
    filteredItems() {
      if(this.filter === '') {
        return this.items;
      }
      if(this.items.length) {
        return this.items.filter(e => e.name.indexOf(this.filter));
      }
      return {};
    }
  },
  methods: {
    getItems() {
      return this.$store.dispatch(`get${this.name}s`);
    },
  },
  watch: {
    'name': 'getItems',
  },
  beforeMount() {
    this.getItems();
  }
}
</script>

<style scoped lang="scss">

.tab {
@import "@/assets/css/global";

  .table-header {
    margin: 0.5rem 0;
    background: $light-gray;

    .cell {
      padding: 0.5rem 0;
      color: $dark-gray;
      text-align: center;
    }
  }

}

</style>