<template>
  <div class="cell shrink grid-x grid-padding-x">
    <div class="cell small-1 text-center">
      {{ index }}
    </div>

    <div class="cell auto">
      {{ item.name }}
    </div>

    <div class="cell small-4 ">
      <div class="button-group expanded">
<!--        <button class="button"-->
<!--                @click="copyItem"-->
<!--        >-->
<!--          Copy-->
<!--        </button>-->
        <router-link class="button warning"
                     :to="routeLink"
        >
          Edit
        </router-link>
        <button class="button alert"
                @click="deleteItem"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListItem",
  props: {
    item: Object,
    name: String,
    index: Number,
  },
  computed: {
    routeLink() {
      const data = {
        name: `edit${this.name}`,
        params: {},
      };
      data.params[`${this.name.toLowerCase()}Id`] = this.item.id;
      return data;
    }
  },
  methods: {
    copyItem() {
      const action = `copy${this.name}`;
      this.$store.dispatch(action, this.item.id);
    },
    deleteItem() {
      const action = `delete${this.name}`;
      this.$store.dispatch(action, this.item.id);
    }
  }
}
</script>

<style scoped>


</style>