<template>
  <div id="Page404">

  </div>
</template>

<script>
export default {
  name: "Page404",
  components: {},
  data() {
    return {}
  },
}
</script>

<style scoped lang="scss">

#Page404 {

}

</style>