@import "foundation";
@include foundation-everything;
@import "fonts";

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  margin: auto;
}

.container {
  max-width: $global-width;
  margin: auto;
}